*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    color: var(--primary-color-2);
    font-family: 'Unna', serif;
}
main, .info, .news-letter, .web-promo{
    margin: 20px auto;
    max-width: 1200px;
    width: 90%;
}
:root{
    --primary-color-1: rgb(252, 132, 152);
    --primary-color-2: rgba(37, 37, 37, 0.973);
    --font1: 'Unna', serif;
}
.info-post-img img:hover, .insta-img img:hover, .post-img img:hover, .artipimg img:hover{
    transform: scale(1.2);
}

button, img{
    cursor: pointer;
}

/* HEADER CSS */
header{
    background: var(--primary-color-2);
}
header h1{
    color: white;
    padding: 5px;
    text-align: center;
}


/* INFO SECTION CSS  */
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-gap: 10px;
}
.info-post{
    position: relative;
    height: 300px;
    width: 100%;
}
.info-post-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.info-post-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform .5s;
}
.info-post-title{
    position: relative;
    top: -20px;
    width: 85%;
    height: 100px;
    margin: 0 auto;
    padding: 20px 5px;
    background: white;
    border: solid 1px rgba(107, 107, 107, 0.123);
}
.info-post-title h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color-2);
    text-align: center;
    padding: 5px;
}
.info-post-title h4{
    font-weight: bold;
    font-size: .7rem;
    color: var(--primary-color-1);
    text-align: center;
    padding: 5px;
    font-family:var(--font1);
}


/* NEWS LETTER CSS */
.news-letter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 70px; */
    background:var(--primary-color-2);
    color: aliceblue;
}
.news-letter-txt h3{
    text-align: center;
    padding: 10px 5px 0 5px;
    font-size: 1.8rem;
    color: white;
}
.news-letter-txt h4{
    padding: 0 10px;
    text-align: center;
    font-size: .6rem;
    color: var(--primary-color-1);
    font-family:var(--font1);
}
.news-letter-btn{
    text-align: center;
}
input{
    height:25px;
    margin: 23px auto;
    padding: 5px;
}
.news-letter-btn button{
    padding: 5px 15px;
    background: var(--primary-color-1);
    color: rgb(245, 245, 245);
    border: none;
    border-radius: 2px;
    font-weight: bold;
    margin: 10px auto;
}



/* WEB-PROMO CSS */
.web-promo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(250, 237, 231);
}
.web-promo-txt h2{
    text-align: center;
    margin: 30px 20px 0;
    padding: 5px;
}
.web-promo-txt p{
    text-align: center;
    color: var(--primary-color-2);
    font-family: var(--font1);
    font-size: .9rem;
    padding: 5px 50px;
}
.web-promo-txt button{
    display: block;
    width: 200px;
    height: 50px;
    font-size: 23px;
    margin: 30px auto;
    padding: 10px 20px;
    background: var(--primary-color-2);
    color: white;
    border: none;
    border-radius: 2px;
}
.web-promo-img{
    width: 100%;
    height: 300px;
}
.web-promo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* MAIN CSS */
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
}

.post{
    width: 100%;
    display: block;
    height: 250px;
    margin: 20px auto;
}
.post-img{
    float: left;
    width: 40%;
    height: 100%;
    overflow: hidden;

}
.post-img img{
display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
}
.post-title{
    float: right;
    width: 60%;
    height: 250px;
    padding: 10px;
}
.post-title a{
    color: rgb(240, 194, 138);
    font-family: var(--font1);
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none
}
.post-title address{
    display: inline-block;
    color: grey;
    margin: 10px auto;
}
.post-title a.date{
    text-decoration: none;
    color: grey;
    margin: 10px;
}
.post-title h2{
    color: var(--primary-color-2);
    font-family: var(--font1);
    margin-top: 10px;
    font-size: 1.5rem;
}
.post-title p{
    margin-top: 10px;
    color: var(--primary-color-2);
}
.post-title button{
    width: 200px;
    padding: 10px;
    background: var(--primary-color-2);
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 18px;
}


/* ASIDE CSS */


aside address {
    grid-area: author;
    padding: 10px;
    height: 350px;
    text-align: center;
    border: solid rgba(172, 172, 172, 0.589) 3px;
}

aside address img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 170px;
    padding: 10px;
    border: dotted var(--primary-color-1) 2px;
}
address p{
    font-style: normal;
    font-family: var(--font1);
}


aside {
    margin: 20px auto;
}
aside h2{
    width: 100%;
    height: 50px;
    background: var(--primary-color-1);
    text-align: center;
    padding: 8px 0;
    margin-top: 10px;
}
.artip {
    width: 100%;
}

.artip .artipimg {
    float: left;
    height: 70px;
    overflow: hidden;
    width: 30%;
    border-radius: 5px;
    /* padding: 10px; */
    margin-top: 10px;
}

.artipimg img {
    float: left;
    width: 100%;
    height: 60px;
    object-fit: cover;
    transform: scale(1);
    transition: transform .8s;
}

.artip h3 {
    text-align: left;
    margin: 0;
    padding: 5px 8px;
    height: 70px;
    width: 70%;
    float: right;
    font-size: 15px;
    margin-top: 10px;
}




/* INSTAGRAM SECTION CSS */
.instagram{
    background: black;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.insta-img{
    overflow: hidden;
}
.insta-img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform .5s;
}



/* FOOTER CSS */
footer{
    height:200px;
    width: 100%;
    background: var(--primary-color-2);
    color: white;
    text-align: center;
    padding: 50px 15px;
    font-family: var(--font1);
}




/* ALL MEDIA QUERIES */
@media(max-width:760px){
    .info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .news-letter-btn input, button{
        display: block;
        margin: 20px auto;
        width: 200px;
        height: 30px;
    }
    .web-promo{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* article {
        width: 90%;
        margin: 0 auto;
    } */

    .post {
        height: 590px;
    }

    .post-img {
        width: 100%;
        height: 270px;
        display: block;
    }

    .post-img img {
        padding: 0;
    }

    .post-title a {
        text-align: center;
    }

    .post-title {
        width: 100%;
        display: block;
        height: 300px;
        margin: 10px auto;
    }

    .post-title button {
        padding: 0;
        margin-top: 20px;
        width: 100%;
        height: 45px;
    }

}

@media(max-width:1000px){
.news-letter{
    display:grid;
    grid-template-columns: 1fr;
}
 main {
     display: grid;
     grid-template-columns: 1fr;
     width: 90%;
 }
 .instagram{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

.artip .artipimg {
    float: left;
    height: 110px;
    overflow: hidden;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
}

.artipimg img {
    float: left;
    width: 100%;
    height: 100px;
    object-fit: cover;
    transform: scale(1);
    transition: transform .8s;
}

.artip h3 {
    text-align: left;
    margin: 0;
    padding: 5px 8px;
    height: 110px;
    width: 70%;
    float: right;
    font-size: 15px;
}
}

.para {
    text-align: center;
    font-size: 25px;
    color: darkgrey;
    width: 500px;
   margin: 100px auto 50px auto;
}
